In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
import pylab 
import scipy.stats as stats
import datetime
%matplotlib inline

pd.set_option('display.max_columns', None)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

In [3]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 1.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.2)
Requirement already satisfied: six>=1.5 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
titanic = pd.read_csv('data/train.csv')

In [9]:
titanic['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [11]:
pd.get_dummies(titanic['Sex'], drop_first=True).head()

   male
0     1
1     0
2     0
3     0
4     1

In [13]:
s = pd.Series(data=[x**2 for x in range(11)],
              index=list('abcdefghijk'))
s

a      0
b      1
c      4
d      9
e     16
f     25
g     36
h     49
i     64
j     81
k    100
dtype: int64

In [14]:
pd.cut(s,3)

a      (-0.1, 33.333]
b      (-0.1, 33.333]
c      (-0.1, 33.333]
d      (-0.1, 33.333]
e      (-0.1, 33.333]
f      (-0.1, 33.333]
g    (33.333, 66.667]
h    (33.333, 66.667]
i    (33.333, 66.667]
j     (66.667, 100.0]
k     (66.667, 100.0]
dtype: category
Categories (3, interval[float64, right]): [(-0.1, 33.333] < (33.333, 66.667] < (66.667, 100.0]]