In [3]:
from zeep import Client
from zeep.wsse.username import UsernameToken
from base64 import b64decode
from zipfile import ZipFile
import pandas as pd
import numpy as np
import csv
import io
import json
import os, time, datetime
from datetime import datetime
from time import perf_counter

In [2]:
!pip install zeep

Collecting zeep
  Downloading zeep-4.2.1-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.2/101.2 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: attrs>=17.2.0 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from zeep) (22.2.0)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 2.9 MB/s eta 0:00:00
Collecting lxml>=4.6.0
  Downloading lxml-4.9.2.tar.gz (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 12.9 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: platformdirs>=1.4.0 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from zeep) (3.2.0)
Collecting requests>=2.7.0
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 kB 7.1 MB/s eta 0:00:00
Collecting requests-toolbelt>=0.7.1
  Downloading requests_toolbelt-0.10.1-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 kB 6.1 MB/s eta 0:00:00
Collecting requests-file>=1.5.1
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: pytz in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from zeep) (2023.2)
Requirement already satisfied: six in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from isodate>=0.5.4->zeep) (1.16.0)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp311-cp311-macosx_11_0_arm64.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.7/121.7 kB 14.7 MB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in /Users/mateusz/Documents/Code/data-science-bootcamp/bootcamp-venv/lib/python3.11/site-packages (from requests>=2.7.0->zeep) (3.4)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.9/140.9 kB 7.1 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Using cached certifi-2022.12.7-py3-none-any.whl (155 kB)
Installing collected packages: urllib3, lxml, isodate, charset-normalizer, certifi, requests, requests-toolbelt, requests-file, zeep
  DEPRECATION: lxml is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for lxml ... done
Successfully installed certifi-2022.12.7 charset-normalizer-3.1.0 isodate-0.6.1 lxml-4.9.2 requests-2.28.2 requests-file-1.5.1 requests-toolbelt-0.10.1 urllib3-1.26.15 zeep-4.2.1

In [4]:
dict_creden_TERYT = {'username' : 'TestPubliczny',
                    'password' : '1234abcd',
                    'wsdl' : 'https://uslugaterytws1test.stat.gov.pl/wsdl/terytws1.wsdl'}

In [6]:
token = UsernameToken(
    username = dict_creden_TERYT['username'],
    password = dict_creden_TERYT['password']
    )

In [7]:
token

In [9]:
client = Client(
    wsdl = dict_creden_TERYT['wsdl'],
    wsse = token
    )

In [10]:
# setting parameters for api
STATE_DATE = datetime.now()
catalog = client.service.PobierzKatalogTERC(STATE_DATE)
filename = catalog['nazwa_pliku']
content = catalog['plik_zawartosc']
decoded = b64decode(content)

In [12]:
with open(filename, "wb") as file:
    file.write(decoded)
    file.close()

In [13]:
zf = ZipFile(filename, 'r')
zf

In [14]:
with zf.open(zf.namelist()[1]) as csv_file:
    data = pd.read_csv(csv_file, 
                        sep=';', 
                        quoting=csv.QUOTE_NONE, 
                        encoding='utf-8',
                        dtype={
                            'WOJ' : str,
                            'POW' : str, 
                            'GMI' : str, 
                            'RODZ' : str, 
                            'NAZWA' : str, 
                            'STAN_NA'  : str       
                         })

In [17]:
data

     WOJ  POW  GMI RODZ          NAZWA                  NAZWA_DOD     STAN_NA
0     02  NaN  NaN  NaN   DOLNOŚLĄSKIE                województwo  2023-01-01
1     02   01  NaN  NaN  bolesławiecki                     powiat  2023-01-01
2     02   01   01    1    Bolesławiec              gmina miejska  2023-01-01
3     02   01   02    2    Bolesławiec              gmina wiejska  2023-01-01
4     02   01   03    2       Gromadka              gmina wiejska  2023-01-01
...   ..  ...  ...  ...            ...                        ...         ...
4259  32   61   01    1       Koszalin              gmina miejska  2023-01-01
4260  32   62  NaN  NaN       Szczecin  miasto na prawach powiatu  2023-01-01
4261  32   62   01    1       Szczecin              gmina miejska  2023-01-01
4262  32   63  NaN  NaN    Świnoujście  miasto na prawach powiatu  2023-01-01
4263  32   63   01    1    Świnoujście              gmina miejska  2023-01-01

[4264 rows x 7 columns]

In [18]:
type(data)

pandas.core.frame.DataFrame

In [19]:
data_terc = data.copy()

In [20]:
data_terc = data_terc.replace(np.nan, "")

In [21]:
data_terc

     WOJ POW GMI RODZ          NAZWA                  NAZWA_DOD     STAN_NA
0     02                DOLNOŚLĄSKIE                województwo  2023-01-01
1     02  01           bolesławiecki                     powiat  2023-01-01
2     02  01  01    1    Bolesławiec              gmina miejska  2023-01-01
3     02  01  02    2    Bolesławiec              gmina wiejska  2023-01-01
4     02  01  03    2       Gromadka              gmina wiejska  2023-01-01
...   ..  ..  ..  ...            ...                        ...         ...
4259  32  61  01    1       Koszalin              gmina miejska  2023-01-01
4260  32  62                Szczecin  miasto na prawach powiatu  2023-01-01
4261  32  62  01    1       Szczecin              gmina miejska  2023-01-01
4262  32  63             Świnoujście  miasto na prawach powiatu  2023-01-01
4263  32  63  01    1    Świnoujście              gmina miejska  2023-01-01

[4264 rows x 7 columns]

In [22]:
voivodeship = data_terc[data_terc.NAZWA_DOD == 'województwo'].copy()

In [23]:
voivodeship

     WOJ POW GMI RODZ                NAZWA    NAZWA_DOD     STAN_NA
0     02                      DOLNOŚLĄSKIE  województwo  2023-01-01
321   04                KUJAWSKO-POMORSKIE  województwo  2023-01-01
561   06                         LUBELSKIE  województwo  2023-01-01
861   08                          LUBUSKIE  województwo  2023-01-01
1026  10                           ŁÓDZKIE  województwo  2023-01-01
1301  12                       MAŁOPOLSKIE  województwo  2023-01-01
1610  14                       MAZOWIECKIE  województwo  2023-01-01
2113  16                          OPOLSKIE  województwo  2023-01-01
2263  18                      PODKARPACKIE  województwo  2023-01-01
2521  20                         PODLASKIE  województwo  2023-01-01
2711  22                         POMORSKIE  województwo  2023-01-01
2895  24                           ŚLĄSKIE  województwo  2023-01-01
3147  26                    ŚWIĘTOKRZYSKIE  województwo  2023-01-01
3350  28               WARMIŃSKO-MAZURSKIE  województwo  2023-01-01
3556  30                     WIELKOPOLSKIE  województwo  2023-01-01
4019  32                ZACHODNIOPOMORSKIE  województwo  2023-01-01

In [24]:
voivodeship_df = data_terc[data_terc.NAZWA_DOD == "województwo"].copy().drop(['POW',
                                                                             'GMI', 
                                                                             'RODZ',
                                                                             'NAZWA_DOD',
                                                                             'STAN_NA'], axis=1).reset_index(drop=True)
voivodeship_df

   WOJ                NAZWA
0   02         DOLNOŚLĄSKIE
1   04   KUJAWSKO-POMORSKIE
2   06            LUBELSKIE
3   08             LUBUSKIE
4   10              ŁÓDZKIE
5   12          MAŁOPOLSKIE
6   14          MAZOWIECKIE
7   16             OPOLSKIE
8   18         PODKARPACKIE
9   20            PODLASKIE
10  22            POMORSKIE
11  24              ŚLĄSKIE
12  26       ŚWIĘTOKRZYSKIE
13  28  WARMIŃSKO-MAZURSKIE
14  30        WIELKOPOLSKIE
15  32   ZACHODNIOPOMORSKIE

In [34]:
for i in np.arange(0,len(voivodeship_df.columns)):
    voivodeship_df[voivodeship_df.columns[i]] = \
    voivodeship_df[voivodeship_df.columns[i]].astype(str).str.strip().str.lower().str.replace('\t', '')

voivodeship_df

   WOJ                NAZWA
0   02         dolnośląskie
1   04   kujawsko-pomorskie
2   06            lubelskie
3   08             lubuskie
4   10              łódzkie
5   12          małopolskie
6   14          mazowieckie
7   16             opolskie
8   18         podkarpackie
9   20            podlaskie
10  22            pomorskie
11  24              śląskie
12  26       świętokrzyskie
13  28  warmińsko-mazurskie
14  30        wielkopolskie
15  32   zachodniopomorskie

In [26]:
np.arange(0, len(voivodeship_df.columns))

array([0, 1])

In [35]:
voivodeship_df = voivodeship_df.rename(columns={'WOJ': 'WOJ_KOD',
                                                'NAZWA': 'WOJ_NAZ'})

In [36]:
voivodeship_df

   WOJ_KOD              WOJ_NAZ
0       02         dolnośląskie
1       04   kujawsko-pomorskie
2       06            lubelskie
3       08             lubuskie
4       10              łódzkie
5       12          małopolskie
6       14          mazowieckie
7       16             opolskie
8       18         podkarpackie
9       20            podlaskie
10      22            pomorskie
11      24              śląskie
12      26       świętokrzyskie
13      28  warmińsko-mazurskie
14      30        wielkopolskie
15      32   zachodniopomorskie

In [37]:
voivodeship_df['WOJ_ID'] = np.arange(0, 16, 1)
voivodeship_df

   WOJ_KOD              WOJ_NAZ  WOJ_ID
0       02         dolnośląskie       0
1       04   kujawsko-pomorskie       1
2       06            lubelskie       2
3       08             lubuskie       3
4       10              łódzkie       4
5       12          małopolskie       5
6       14          mazowieckie       6
7       16             opolskie       7
8       18         podkarpackie       8
9       20            podlaskie       9
10      22            pomorskie      10
11      24              śląskie      11
12      26       świętokrzyskie      12
13      28  warmińsko-mazurskie      13
14      30        wielkopolskie      14
15      32   zachodniopomorskie      15